{% extends "estoque/_base.html" %}

{% block title %} Pagina Inicial - TechUp {% endblock title%}

{% block custom_css%}{% endblock custom_css%}

{% block content %}

    <div class="jumbotron text-center bg-light p-5 rounded shadow-sm">
        <h1 class="display-5 mb-3">
            <i class="bi bi-box-seam text-primary me-2"></i> Gestão de Produtos
        </h1>
        <p class="lead">Aqui você gerencia, organiza e mantém seus produtos atualizados.</p>
        <hr class="my-4">
        <p>Adicione, edite ou remova produtos do seu estoque com facilidade.</p>
    </div>

{% endblock content %}